<div>
    <button type="submit" ng-click="mycl.logout();">logout</button>
    <button type="submit" ng-click=" mycl.setmode('add',''); ">Add todo</button>
    <h2><span style="color:blue">  welcome {{mycl.user.username}} </span></h2><br>

    <div ng-if=" mycl.mode!='' ">
       <span style="color:blue"> <h2>{{mycl.title_window}}</h2></span>
        title : <input type="text" ng-model="mycl.titleup"><br>
        description : <input type="text" ng-model="mycl.descriptionup"><br>

        <div ng-if=" mycl.mode=='update' ">
            done : <input type="checkbox" ng-model="mycl.doneup" ng-checked="mycl.doneup"><br>
        </div>
        <button type="submit" ng-click="mycl.save();">save</button>
        <button type="submit" ng-click="mycl.clear();">clear</button>
        <button type="submit" ng-click="mycl.setmode('','');">cancel</button>
    </div>
    <span style="color:blue">  <h2>list of todos</h2></span>
    <div ng-repeat="p in mycl.todos">

            <p><span style="color:blue"> title : </span> {{p.title}} , </p>

            <p><span style="color:green">  description : </span> {{p.description}} </p>

            <p><span style="color:red">  done  :  </span> {{p.done}} </p>
            <button type="submit" ng-click="mycl.done(p._id,p);">done/doesn't done</button>
            <button type="submit" ng-click="mycl.delete(p._id);">delete this todo</button>
            <button type="submit" ng-click="mycl.setmode('update',p);">update this todo</button>

    </div>
</div>
